/* #ToDo https://www.loom.com/share/b84508a50d2746929cdcf1c76d224b31?sid=b28ce0cb-a129-47f4-bb97-35023d042c44 */

:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: #2e2f4266;
  --grey: #2e2f42b2;
  --white: #ffffff;
  --modal-backgroud: #fcfcfc;
  --inner-gap: 24px;
}

/* Global styles */
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
  background-color: var(--white);
}

h1 {
  color: var(--white);
  font-size: 56px;
  letter-spacing: 0.02em;
  line-height: 1.07;
  font-weight: 700;
  margin: 0;
}

h2 {
  text-align: center;
  color: var(--navy-blue);
  font-size: 36px;
  line-height: 1.11;
  font-weight: 700;
  margin: 0;
}

h3 {
  color: var(--navy-blue);
  font-size: 20px;
  font-weight: 500;
  margin: 0;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  font-style: normal;
  color: var(--navy-blue);
}

p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
}

.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

/*Components styles*/
/* Header styles */

.header {
  border-bottom: 1px solid var(--cornflower);
}

.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-nav-links {
  display: flex;
  margin-left: 76px;
  gap: 40px;
}

.header-nav-link {
  padding: 24px 0;
  font-weight: 500;
  display: block;
}

.header-nav-link:hover,
.header-nav-link:focus,
.header-address-link-email:hover,
.header-address-link-email:focus,
.header-address-link-phone:hover,
.header-address-link-phone:focus {
  color: var(--ocean);
  font-weight: 500;
}

.header-address {
  font-style: normal;
  margin-left: auto;
}

.header-address-links {
  display: flex;
  gap: 40px;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  color: var(--iris);
  letter-spacing: 0.03em;
}

.header-nav-logo {
  color: var(--navy-blue);
}

/* Main styles */

.hero {
  max-width: 1440px;
  text-align: center;
  background-color: var(--navy-blue);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/index/section_hero/hero-bg.jpg");
  padding: 188px 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}

.hero-title {
  width: 496px;
  margin: 0 auto 48px;
}

.hero-button {
  padding: 16px 32px;
  color: var(--white);
  background-color: var(--iris);
  border: none;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  text-align: center;
  letter-spacing: 0.04em;
  font-weight: 500;
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--ocean);
}

.features {
  padding: 120px 120px;
}

.container-features {
  display: flex;
  gap: var(--inner-gap);
}

.container-features-list {
  width: calc((100% - 3 * var(--inner-gap)) / 4);
}

.container-features-list-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px 100px;
  background-color: var(--cloud);
  margin-bottom: 8px;
}

.container-features-list-headers {
  margin-bottom: 8px;
}

.what-are-we-doing {
  padding: 0 0 120px;
}

.container-what-are-we-doing-header {
  margin-bottom: 72px;
}

.container-what-are-we-doing {
  display: flex;
  gap: var(--inner-gap);
}

.container-what-are-we-doing-list {
  width: calc((100% - 2 * var(--inner-gap)) / 3);
}

.our-team {
  background-color: var(--cloud);
  padding: 120px 120px;
}

.container-our-team-header {
  margin-bottom: 72px;
}

.container-our-team {
  display: flex;
  gap: var(--inner-gap);
}

.container-our-team-list {
  background-color: var(--white);
  border-radius: 0 0 4px 4px;
  width: calc((100% - 3 * var(--inner-gap)) / 4);
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.container-our-team-list-item-text {
  text-align: center;
  padding: 32px 16px;
}

.portfolio-section-1-text {
  color: var(--slate);
}

.container-our-team-list-social {
  display: flex;
  justify-content: center;
  gap: var(--inner-gap);
  border: 1px solid var(--cornflower);
}

.container-out-team-list-social-item {
  background-color: var(--iris);
  border-radius: 50%;
  padding: 12px;
  fill: var(--cloud);
  margin-bottom: 0;
}

.footer {
  background-color: var(--navy-blue);
}

.container-footer {
  padding: 101.5px 0 100px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.portfolio-section-1 {
  padding-top: 96px;
  padding-bottom: 120px;
}

.container-portfolio-buttons {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-bottom: 72px;
}

.container-portfolio-buttons-button {
  background-color: var(--cloud);
  color: var(--iris);
  border: 1px solid var(--cornflower);
  border-radius: 4px;
  padding: 12px 24px;
}

.container-portfolio-buttons-button:hover,
.container-portfolio-buttons-button:focus {
  background-color: var(--ocean);
  color: var(--white);
}

.container-portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: var(--inner-gap);
  row-gap: 48px;
  justify-content: center;
}

.container-portfolio-list-item {
  width: calc((100% - 2 * var(--inner-gap)) / 3);
}

.container-portfolio-list-item-text {
  padding: 32px 0 32px 16px;
  border: 1px solid var(--cornflower);
  border-top: none;
}

.container-portfolio-list-item-text-header {
  margin-bottom: 8px;
  color: var(--navy-blue);
  text-align: left;
  font-size: 20px;
  font-weight: 500;
}

/* Footer styles */

.container-footer-logo {
  display: inline-block;
  margin-bottom: 17.5px;
}

.footer-logo {
  color: var(--cloud);
}

.footer-text {
  color: var(--cloud);
  max-width: 264px;
}

.customers {
  padding: 120px 120px;
}

.container-customers-header {
  margin-bottom: 72px;
}

.container-customers-list {
  display: flex;
  gap: var(--inner-gap);
  justify-content: center;
}

.container-customers-list-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 32px;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 168px;
}

.container-customers-list-icons-icon {
  fill: var(--light-slate);
}
